/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  background-color: rgb(4, 5, 14);
  color: rgb(238, 234, 234);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* ========== Responsividade =========== */
@media (max-width: 768px) {

  .about {
    max-width: 100%;
    text-align: center;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .skills-list {
    flex-direction: column;
    align-items: center;
  }
}

/* ================= HEADER ================= */
.header {
  background-color: transparent;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9a6bff;
}

/* Menu principal */
.menu {
  list-style: none;
  display: flex;
  /* visível por padrão */
  gap: 20px;
  text-transform: uppercase;
}

.menu li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #7e47ff;
}

/* Botão hamburguer */
.hamburger {
  display: none;
  /* escondido por padrão */
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

/* Submenu dentro do botão hamburguer */
.submenu {
  list-style: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: rgba(0, 0, 0, 0.897);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submenu li a {
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  color: #7e47ff;
}


/* ================= HOME ================= */
.home {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 10%;
  padding: 10%;
  /* 0 10% */
  z-index: 1;
  overflow: hidden;
  z-index: 1;
  /* background: linear-gradient(90deg, #6a00ff, #9a6bff); */

}

.intro {
  margin: 0;
  text-align: center;
  background: #6d04ff00;
  z-index: 1;

}

/* Texto principal */
.intro h1 {
  font-size: 70px;
  font-weight: bold;
  width: 25rem;
  text-align: center;
  background-color: #6a00ff00;
}

.intro h1 span {
  color: #9a6bff;
  text-shadow: 0 0 10px rgba(126, 71, 255, 0.8);
}

.intro button {
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #6a00ff, #9a6bff);
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(126, 71, 255, 0.6);
  transition: 0.3s;
}

.intro button:hover {
  box-shadow: 0 0 25px rgba(126, 71, 255, 0.9);
}

.about {
  max-width: 500px;
  text-align: left;
  background-color: #6a00ff00;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6a00ff00;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 10px;

  font-size: 2rem;
  margin-bottom: 10px;


}

.about p {
  line-height: 1.6;
  color: #ddd;
  width: 100%;

}

.light {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(126, 71, 255, 0.6) 0%, rgba(4, 5, 14, 0) 50%);
  filter: blur(80px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: pulse 2s infinite alternate ease-in-out;
  z-index: 0;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 8px;
  background: #6a00ff;
  filter: blur(2px);
  opacity: 0.5;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
    filter: blur(30px);
  }

  100% {
    opacity: 0.9;
    filter: blur(50px);
  }
}

.intro button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #6a00ff, #9a6bff);
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(126, 71, 255, 0.6);
  transition: 0.3s;
}

.intro button:hover {
  box-shadow: 0 0 25px rgba(126, 71, 255, 0.9);
}

/* ======================================== */

/* Desktop: mostra menu principal, esconde hamburguer/submenu min-width: 769px */
@media (min-width: 769px) {
  .menu {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .submenu {
    display: none;
  }



}

/* Mobile: esconde menu principal, mostra hamburguer */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .home {
    height: 100vh;
    flex-direction: column;
    background: #6a00ff00;

  }

  .home .intro {
    padding: 10% 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a00ff00;
  }

  .intro h1 {
    font-size: 38px;
    font-weight: bolder;
    width: 100%;
    background-color: #beb8c700;
  }

  .intro button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    width: 25vh;
    border-radius: 25px;
    background: linear-gradient(90deg, #6a00ff, #9a6bff);
    color: white;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(126, 71, 255, 0.6);
    transition: 0.3s;
  }

  .intro button:hover {
    box-shadow: 0 0 25px rgba(126, 71, 255, 0.9);
  }


  .home .about {
    padding: 10% 5% 10% 5%;
    background-color: #db030300;
    width: 100%;
    text-align: center;
  }

}


/* ================= PROJECTS ================= */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.project-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.project-item {
  position: relative;
  z-index: 1;
  background-color: #33333360;
  border: solid 2px #ffffff;
  border-radius: 10px;
  padding: 10px;
  height: 300px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item img {
  border: solid 3px #ffffffc4;
  padding: 5px;
  width: 100%;

}

.project-item p {
  text-align: center;

}

.project-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: 50px;
  background-color: #d9d4e0;
  padding: 5px 10px;
}

/* ================= SKILLS ================= */
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.skill-item {
  position: relative;
  background-color: transparent;
  color: white;
  padding: 20px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(126, 71, 255, 0.6) 0%, rgba(4, 5, 14, 0) 50%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
  filter: blur(40px);
}

.skill-item:hover::before {
  opacity: 1;
}

.skill-item:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/* ================= CONTACT ================= */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 10%;
  border: solid 3px #29106eb7;
  border-radius: 10px;
}

.contact form {
  text-align: center;
}

/*  */

.contact form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/*  */

.contact form button {
  border-radius: 50px;
  padding: 10px;
  background-color: #d9d4e0;
}

.contact input,
.contact textarea {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ffffff65;
  background-color: transparent;
  color: white;
  width: 300px;
  max-width: 100%;
}

.contact-info {
  font-size: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

/*  */
.contact-info::before {
  content: "";
  flex: 1;
  height: 4px;
  margin-right: 10px;
  background: linear-gradient(to right, transparent, rgba(126, 71, 255, 0.8));
}

.contact-info::after {
  content: "";
  flex: 1;
  height: 4px;
  margin-left: 10px;
  background: linear-gradient(to left, transparent, rgba(126, 71, 255, 0.8));
}

/*  */

.contact ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.contact ul li a {
  color: white;
  text-decoration: none;
}

/* ================= FOOTER ================= */
.footer {
  background-color: transparent;
  color: white;
  border-top: solid 3px #ffffff1b;
  padding: 10px;
  text-align: center;
}