/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  background-color: rgb(4, 5, 14);
  color: rgb(238, 234, 234);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* ========== Responsividade =========== */
@media (max-width: 768px) {

  .about {
    max-width: 100%;
    text-align: center;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .skills-list {
    flex-direction: column;
    align-items: center;
  }
}

/* ================= HEADER ================= */
.header {
  background-color: transparent;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background: #1d2c2c3a;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9a6bff;
}

/* Menu principal */
.menu {
  list-style: none;
  display: flex;
  /* visível por padrão */
  gap: 20px;
  text-transform: uppercase;
}

.menu li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #7e47ff;
}

/* Botão hamburguer */
.hamburger {
  display: none;
  /* escondido por padrão */
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

/* Submenu dentro do botão hamburguer */
.submenu {
  list-style: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: rgba(0, 0, 0, 0.897);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submenu li a {
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  color: #7e47ff;
}


/* ================= HOME ================= */
.home {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 10%;
  padding: 10%;
  /* 0 10% */
  z-index: 1;
  overflow: hidden;
  z-index: 1;


}

.intro {
  margin: 0;
  text-align: center;
  background: #6d04ff00;
  z-index: 1;

}

/* Texto principal */
.intro h1 {
  font-size: 70px;
  font-weight: bold;
  width: 25rem;
  text-align: center;
  background-color: #6a00ff00;
}

.intro h1 span {
  color: #9a6bff;
  text-shadow: 0 0 10px rgba(126, 71, 255, 0.8);
}

.intro button {
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(126, 71, 255, 0.6);


  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  border: none;
  width: 40vh;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  background: linear-gradient(90deg, #6a00ff, #9a6bff);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.intro button:hover {
  box-shadow: 0 0 25px rgba(126, 71, 255, 0.9);
}

.about {

  text-align: left;
  background-color: #6a00ff00;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6a00ff00;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 10px;

  font-size: 2rem;
  margin-bottom: 10px;


}

.about p {
  line-height: 1.6;
  color: #ddd;
  width: 100%;

}

.light {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(126, 71, 255, 0.6) 0%, rgba(4, 5, 14, 0.075) 50%);
  filter: blur(80px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: pulse 2s infinite alternate ease-in-out;
  z-index: 0;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 8px;
  background: #6a00ff;
  filter: blur(2px);
  opacity: 0.5;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
    filter: blur(30px);
  }

  100% {
    opacity: 0.9;
    filter: blur(50px);
  }
}

/* ======================================== */

/* Desktop: mostra menu principal, esconde hamburguer/submenu min-width: 769px */
@media (min-width: 769px) {
  .menu {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .submenu {
    display: none;
  }



}

/* Mobile: esconde menu principal, mostra hamburguer */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #6a00ff00;

  }

  .home .intro {
    padding: 10% 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a00ff00;
  }

  .home .about {
    padding: 10% 5% 10% 5%;
    background-color: #db030300;
    width: 100%;
    text-align: center;
  }

}


/* ================= PROJECTS ================= */

/* From Uiverse.io by Pravins01 */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px 0%;
  height: 100%;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.projects p {
  text-align: center;
  max-width: 600px;
  /* margin-bottom: 20px; */
}


.projects .project-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}


.projects .project-list .card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000000ec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;

  flex: 0 0 auto;
  /* impede flexbox de alterar a largura */

}

.projects .project-list .card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects .project-list .card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);

}

.projects .project-list .card img {
  height: 90px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  background-color: #00dade00;
}

.projects .project-list .card .card-overlay {
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00dade00;

}

.projects .project-list .card .card-overlay .card-link {

  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);

  transition: all 0.3s ease;

}

.projects .project-list .card .card-overlay .card-link:hover {
  opacity: 0.5;
  background: linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%);
  transform: scale(1.05);
  /* exemplo: aumenta levemente */
}

.projects .project-list .card .card-overlay .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.projects .project-list .card .card-overlay p:not(.heading) {
  font-size: 14px;
}

.projects .project-list .card .card-overlay p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.projects .project-list .card:hover::after {
  filter: blur(30px);
}

.projects .project-list .card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* ================= SKILLS ================= */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 20px 0%;
  height: 40vh;
}

.container {

  perspective: 1000px;
  /* dá profundidade ao efeito 3D */
}

.box-card {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate3d 10s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  backface-visibility: visible;
  border-radius: 12px;
  background: linear-gradient(145deg, #2a2a2ae0, #383838e8);
  border: 2px solid #646cff;
  transition: all 0.3s ease;
  overflow: hidden;
}

.face:hover::after {
  opacity: 1;
}

/* Faces individuais */
.front {
  transform: translateZ(100px);
  border-color: #646cff;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  border-color: #00bcd4;
}

.right {
  transform: translateX(100px) rotateY(90deg);
  border-color: #4caf50;
}

.left {
  transform: translateX(-100px) rotateY(-90deg);
  border-color: #ff4081;
}

.top {
  transform: translateY(-100px) rotateX(90deg);
  border-color: #ffc107;
}

.bottom {
  transform: translateY(100px) rotateX(-90deg);
  border-color: #9c27b0;
}

/* Animação */
@keyframes rotate3d {
  0% {
    transform: rotateX(0) rotateY(0);
  }

  25% {
    transform: rotateX(90deg) rotateY(90deg);
  }

  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }

  75% {
    transform: rotateX(270deg) rotateY(270deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* Responsividade */
@media (max-width: 768px) {
   .box-card {
    width: 150px;
    height: 150px;
    
  }
  .face {
    width: 150px;
    height: 150px;
    font-size: 1.2rem;
  }

  .front {
    transform: translateZ(75px);
  }

  .back {
    transform: translateZ(-75px) rotateY(180deg);
  }

  .right {
    transform: translateX(75px) rotateY(90deg);
  }

  .left {
    transform: translateX(-75px) rotateY(-90deg);
  }

  .top {
    transform: translateY(-75px) rotateX(90deg);
  }

  .bottom {
    transform: translateY(75px) rotateX(-90deg);
  } 
}

/* ================= CONTACT ================= */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 10%;
  border: solid 3px #29106eb7;
  border-radius: 10px;
}

.contact form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */

.contact form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/*  */

.contact form button {

  padding: 10px;
  background-color: #d9d4e0;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  border: none;
  width: auto;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  background: linear-gradient(90deg, #6a00ff, #9a6bff);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;

}

/* ======================================= */

.contact input,
.contact textarea {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ffffff65;
  background-color: transparent;
  color: white;
  width: 300px;
  max-width: 100%;
}

.contact-info {
  font-size: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

/*  */
.contact-info::before {
  content: "";
  flex: 1;
  height: 4px;
  margin-right: 10px;
  background: linear-gradient(to right, transparent, rgba(126, 71, 255, 0.8));
}

.contact-info::after {
  content: "";
  flex: 1;
  height: 4px;
  margin-left: 10px;
  background: linear-gradient(to left, transparent, rgba(126, 71, 255, 0.8));
}

/*  */

.contact ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.contact ul li a {
  color: white;
  text-decoration: none;
}

/* ================= FOOTER ================= */
.footer {
  background-color: transparent;
  color: white;
  border-top: solid 3px #ffffff1b;
  padding: 10px;
  text-align: center;
}